@page "/orders/{page:int}"
@inject IOrderService OrderService
@attribute [Authorize]
@implements IDisposable

<div class="container">

    <h2 class="m-3">Your Orders</h2>

    <hr />


    @if (OrderService.Orders == null || OrderService.Orders.Count == 0)
    {
        <span>@OrderService.Message</span>
    }
    else
    {
        @foreach (var order in OrderService.Orders)
        {
            <div class="order-wrapper">
                <div class="img-wrapper">
                    <img src="@order.OrderImageUrl" />
                </div>
                <div class="details">
                    <h5>Date: @TimeZoneInfo.ConvertTime(order.OrderDate, TimeZoneInfo.FindSystemTimeZoneById("Pacific Standard Time"))</h5>
                    <h5>Order Number: @order.Id</h5>
                    <h5>@order.OrderTitle</h5>

                    <h5>Status: Order <strong>@order.Status</strong></h5>
                </div>
                <div class="order-price">
                    <p>$@order.TotalPrice</p>
                    <a href="/order/@order.Id" class="order-link btn btn-dark">
                        Details
                    </a>
                </div>
            </div>
        }
    }

    <div class="page-buttons">
        @if (OrderService.PageCount > 1)
        {
            @for (int i = 1; i <= OrderService.PageCount; i++)
            {
                <a class="btn @(i == OrderService.CurrentPage ? "btn-dark" : "btn-outline-dark") page-selection"
                   href=@($"/orders/{i}")>@i</a>
            }
        }
    </div>
</div>

@code {
    [Parameter]
    public int Page { get; set; } = 1;

    public string? StatusFilter = null;
    public bool OrderByNewest = true;

    protected override async Task OnParametersSetAsync()
    {
        OrderPageRequest request = new OrderPageRequest
            {
                Page = Page
            };

        await OrderService.GetOrders(request);
    }

    protected override void OnInitialized()
    {
        OrderService.OrdersChanged += StateHasChanged;
    }

    public async Task FilterStatus(string status)
    {
        StatusFilter = status;

        OrderPageRequest request = new OrderPageRequest
            {
                Page = Page,
                StatusFilter = status,
                OrderByNewest = OrderByNewest
            };

        await OrderService.GetOrders(request);
    }

    public async Task SortOrder(bool byNewest)
    {
        OrderByNewest = byNewest;

        OrderPageRequest request = new OrderPageRequest
            {
                Page = Page,
                StatusFilter = StatusFilter,
                OrderByNewest = byNewest
            };

        await OrderService.GetOrders(request);
    }

    public void Dispose()
    {
        OrderService.OrdersChanged -= StateHasChanged;
    }
}
