@page "/product/{id:int}"
@inject IProductService ProductService
@inject ICartService CartService

@if (product == null)
{
    <h3>@message</h3>
}
else
{
    <div class="imgs-detail-grid">

        <section>
            <div class="container">
                <div class="carousel">
                    @foreach (var image in product.Images)
                    {
                        if (image == product.Images.First(i => i.IsMainImage))
                        {
                            <input type="radio" name="slides" checked="checked" id="@image.Url">
                        }
                        else
                        {
                            <input type="radio" name="slides" id="@image.Url">
                        }
                    }
                    @* <input type="radio" name="slides" checked="checked" id="slide-1">
                <input type="radio" name="slides" id="slide-2">
                <input type="radio" name="slides" id="slide-3">
                <input type="radio" name="slides" id="slide-4">
                <input type="radio" name="slides" id="slide-5">
                <input type="radio" name="slides" id="slide-6"> *@
                    <ul class="carousel__slides">
                        @foreach (var image in product.Images)
                        {
                            <li class="carousel__slide">
                                <figure>
                                    <div>
                                        <img src="@image.Url" alt="">
                                    </div>
                                </figure>
                            </li>
                        }

                        @* <li class="carousel__slide">
                    <figure>
                    <div>
                    <img src="https://picsum.photos/id/1041/800/450" alt="">
                    </div>
                    <figcaption>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    <span class="credit">Photo: Tim Marshall</span>
                    </figcaption>
                    </figure>
                    </li>
                    <li class="carousel__slide">
                    <figure>
                    <div>
                    <img src="https://picsum.photos/id/1043/800/450" alt="">
                    </div>
                    <figcaption>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    <span class="credit">Photo: Christian Joudrey</span>
                    </figcaption>
                    </figure>
                    </li>
                    <li class="carousel__slide">
                    <figure>
                    <div>
                    <img src="https://picsum.photos/id/1044/800/450" alt="">
                    </div>
                    <figcaption>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    <span class="credit">Photo: Steve Carter</span>
                    </figcaption>
                    </figure>
                    </li>
                    <li class="carousel__slide">
                    <figure>
                    <div>
                    <img src="https://picsum.photos/id/1045/800/450" alt="">
                    </div>
                    <figcaption>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    <span class="credit">Photo: Aleksandra Boguslawska</span>
                    </figcaption>
                    </figure>
                    </li>
                    <li class="carousel__slide">
                    <figure>
                    <div>
                    <img src="https://picsum.photos/id/1049/800/450" alt="">
                    </div>
                    <figcaption>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    <span class="credit">Photo: Rosan Harmens</span>
                    </figcaption>
                    </figure>
                    </li>
                    <li class="carousel__slide">
                    <figure>
                    <div>
                    <img src="https://picsum.photos/id/1052/800/450" alt="">
                    </div>
                    <figcaption>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    <span class="credit">Photo: Annie Spratt</span>
                    </figcaption>
                    </figure>
                    </li> *@
                    </ul>
                    <ul class="carousel__thumbnails">
                        @foreach (var image in product.Images)
                        {
                            <li>
                                <label for="@image.Url"><img src="@image.Url" alt=""></label>
                            </li>
                        }
                        @*  <li>
                    <label for="slide-1"><img src="https://picsum.photos/id/1041/150/150" alt=""></label>
                    </li>
                    <li>
                    <label for="slide-2"><img src="https://picsum.photos/id/1043/150/150" alt=""></label>
                    </li>
                    <li>
                    <label for="slide-3"><img src="https://picsum.photos/id/1044/150/150" alt=""></label>
                    </li>
                    <li>
                    <label for="slide-4"><img src="https://picsum.photos/id/1045/150/150" alt=""></label>
                    </li>
                    <li>
                    <label for="slide-5"><img src="https://picsum.photos/id/1049/150/150" alt=""></label>
                    </li>
                    <li>
                    <label for="slide-6"><img src="https://picsum.photos/id/1052/150/150" alt=""></label>
                    </li> *@
                    </ul>
                </div>
            </div>
        </section>

        @* ***** OLD VERSION **** *@
        @* <div class="images">
    @foreach (var image in product.Images)
    {
    <div class="product-img-wrapper">
    <img class="product-img" src="@image.Url" />
    </div>
    }
    </div> *@

        <div class="details">
            <div class="title">
                <h1>@product.Title</h1>
            </div>
            <div class="description">
                @foreach(var line in descriptionLines)
                {
                    <p>@line</p>
                }
            </div>
            @if (product.OriginalPrice > product.Price)
            {
                <h6 class="text-muted original-price">$@product.OriginalPrice</h6>
            }
            <div class="price">$@product.Price</div>
            <br />
            <div class="product-size">Size: @product.Size</div>
            <br />
            <br />
            <div class="alert alert-secondary @AlertCss" role="alert">
                <p class="h5 text-center">Added to cart!</p>
            </div>
 
            <button class="btn add-btn @AddBtnCss" @onclick="AddToCart">Add to Cart</button>

        </div>
    </div>
}

@code {
    private Product? product = null;
    private string message = string.Empty;

    private string AlertCss = "visually-hidden";
    private string AddBtnCss = string.Empty;
    private List<string> descriptionLines = new();

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        message = "Loading product...";

        var result = await ProductService.GetProduct(Id);
        if (!result.Success)
        {
            message = result.Message;
        }
        else
        {
            product = result.Data;
            descriptionLines = product.Description.Split("\n").ToList();
        }
    }

    private async Task AddToCart()
    {
        var cartItem = new CartItem
        {
                ProductId = Id
        };

        await CartService.AddToCart(cartItem);

        AlertCss = string.Empty;
        AddBtnCss = "visually-hidden";
    }
}