@page "/admin/products"
@inject IProductService ProductService
@inject NavigationManager NavigationManager

<div class="container">

    <h3>Products</h3>

    <div>
        <a href="/admin/product" class="btn btn-primary ">
            <i class="oi oi-plus"></i> Add new product
        </a>
    </div>

    <div class="table-responsive-md">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Original Price</th>
                    <th>Visible</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <Virtualize Items="ProductService.AdminProducts" Context="product">
                    <tr>
                        <td>
                            <img src="@product.Images[0].Url" />
                        </td>
                        <td>@product.Title</td>
                        <td>@product.Price</td>
                        <td>@product.OriginalPrice</td>
                        <td>@(product.Visible ? "✔️" : "")</td>
                        <td>
                            <button class="btn btn-primary" @onclick="(() => EditProduct(product.Id))">
                                <i class="oi oi-pencil"></i>
                            </button>
                        </td>
                    </tr>
                </Virtualize>               
            </tbody>
        </table>
    </div>

</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await ProductService.GetAdminProducts();
    }

    void EditProduct(int productId)
    {
        NavigationManager.NavigateTo($"admin/product/{productId}");
    }
}
